@font-face {
  font-family: 'dash';
  src: local('dash'), url(../src/Assets/Montserrat-Bold.otf) format('otf');
}

.App {
  text-align: center;
  font-family: 'dash';
  letter-spacing: 5px;
  font-style: bold;
  font-weight: bolder;
}
