//Timbers
.NEW .set1 {
    fill: darkgreen;
}
.NEW .set0 {
    fill: darksalmon;
}

.barChart {
    svg {
        position: absolute;
        overflow: hidden;
        margin: 0px;
        padding: 0px;
        left: 0px;
        top: 0px;
    }
    .title {
        .set {
            display: inline-block;
            height: .7em;
            width: .7em;
        }
    } 
}