//Games
.stackedGameFletcher .set0 {
    fill: rgb(229, 255, 0);
}
.stackedGameFletcher .set1 {
    fill: rgb(131, 168, 168);
}
.stackedGameVortex .set0 {
    fill: rgb(141, 108, 19);
}
.stackedGameVortex .set1 {
    fill: rgb(115, 42, 138);
}
.stackedGameMarie .set0 {
    fill: rgb(247, 98, 11);
}
.stackedGameMarie .set1 {
    fill: rgb(22, 178, 199);
}
.stackedGameChutes .set0 {
    fill: rgb(12, 87, 34);
}
.stackedGameChutes .set1 {
    fill: rgb(197, 47, 172);
}
//Stories
.stackedStoryFletcher .set0 {
    fill: rgb(229, 255, 0);
}
.stackedStoryFletcher .set1 {
    fill: rgb(131, 168, 168);
}
.stackedStoryVortex .set0 {
    fill: rgb(141, 108, 19);
}
.stackedStoryVortex .set1 {
    fill: rgb(115, 42, 138);
}
.stackedStoryMarie .set0 {
    fill: rgb(247, 98, 11);
}
.stackedStoryMarie .set1 {
    fill: rgb(22, 178, 199);
}
.stackedStoryChutes .set0 {
    fill: rgb(12, 87, 34);
}
.stackedStoryChutes .set1 {
    fill: rgb(197, 47, 172);
}
//Timbers
.stackedBarNewVReturn .set0 {
    fill: darkgreen;
}
.stackedBarNewVReturn .set1 {
    fill: darksalmon;
}
