//IOS colors
.iOS0 {
    fill: blue;
}
.iOS1 {
    fill: rgb(29, 87, 247);
}
.iOS2 {
    fill: rgb(0, 146, 243);
}
.iOS3 {
    fill: rgb(14, 182, 248);
}
.iOS4 {
    fill: rgb(109, 191, 247);
}
.iOS5 {
    fill: rgb(154, 210, 255);
}
//Android colors
.Android0 {
    fill: rgb(0, 61, 0);
}
.Android1 {
    fill:rgb(31, 97, 0);
}
.Android2 {
    fill:rgb(0, 148, 12);
}
.Android3 {
    fill:rgb(36, 182, 0);
}
.Android4 {
    fill:rgb(0, 211, 0);
}
.Android5 {
    fill:rgb(0, 245, 41);
}

.chutes  {
    fill: rgb(255,54,40);
}

.vortex  {
    fill: rgb(128, 207, 154);
}

.marie  {
    fill: rgb(107,155,45);
}

.fletcher  {
    fill: rgb(255,172,26);
}

.graph {
    display: flex;
    flex-direction: row;
    height: 80vh;
    justify-content: center;
    align-items: center;
}